@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

html, body {
    margin: 0;

    overflow-x: hidden;
    max-width: 100%;

    font-family: Poppins;
}

.header {
    position: relative;

    color: white;
}

.background {
    position: relative;

    width: 100%;
    min-height: 700px;
    padding: 0;

    display: flex;
    flex-direction: column;
    
    background: no-repeat top center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("images/rainbow.png");
    background-size: cover;
}

.header-content {
    position: relative;
    top: 0;

    margin: 70px;
    margin-bottom: 150px;
}

@media (min-width: 1200px) {
    .header-content {
        display: flex;
        flex: 1;
        flex-direction: row;
    }

    .header-content-left {
        padding-right: 50px;
    }

    .header-content-right {
        padding-left: 50px;
    }
}

.header-content-left {
    flex: 1 0 40%;
}

.header-title {
    margin: 0;

    font-size: 60px;
    font-weight: bold;
    color: lightgray;
}

.header-highlight {
    color: white;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.9);
}

.header-seperator {
    width: 2px;

    flex: none;

    background: white;
}

.header-content-right {
    margin-top: auto;
    margin-bottom: auto;

    flex: 0 1 auto;

    font-size: 20px;
}

.questions-link:link, .questions-link:visited {
    padding: 10px 20px;

    background-color: white;
    color: black;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
.questions-link:hover, .questions-link:active {
    background-color: lightgray;
}

.waves {
    position: absolute;
    bottom: 0;

    height: 300px;
    width: 100%;

    transform: scale(1, 0.5);
    transform-origin: bottom;
}

.wave {
    position: absolute;
    bottom: 0;

    width: 6400px;
    height: 200px;

    background: url("images/wave.svg") repeat-x;
    background-position: bottom;
}

.wave-translucent {
    opacity: 50%;

    animation: wave 5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}

.wave-white {
    transform: scale(1, 0.5);
    -webkit-transform: scale(1, 0.5);
    transform-origin: bottom;

    opacity: 1;

    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

.content {
    position: relative;
    
    margin: 50px;
    margin-top: 0;
}

.credits {
    color: gray;
    font-size: 15px;
}

.credits a {
    color: gray;
}

.content-link:link, .content-link:visited {
    color: rgb(92, 92, 92);
}

.content-link:hover, .content-link:active {
    color: rgb(49, 49, 49);
}

.content-separator {
    height: 2px;
    
    background-color: lightgray;
}

.resource {
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
}

.resource-name {
    margin: 0;
}

.resource-name a {
    color: inherit;
    text-decoration: inherit;
}

.resource-left {
    margin-right: 30px;
}

.resource-separator {
    flex-grow: 1;
}

.resource-link:link, .resource-link:visited {
    margin-top: auto;
    margin-bottom: auto;

    padding: 10px 40px;

    background-color: lightgray;
    color: black;
    
    text-align: center;
    text-decoration: none;
}
  
.resource-link:hover, .resource-link:active {
    background-color: lightgray;
}