{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/index.css' %}">
</head>

<body>
    <div class="header">
        <div class="background">
            <div class="header-content">
                <div class="header-content-left">
                    <h1 class="header-title"><span class="header-highlight">Allyship</span> 101</h1>
    
                    <h2>
                        “being gay or lesbian is a natural part of human life”
                    </h2>

                    <h2>
                        “genes account for between 8% and 25% of same-sex behavior.”
                    </h2>

                    <h2>
                        “1.3 million kids identify in the LGBTQ+ group”
                    </h2>

                    <p class="header-text">
                        With these statistics in mind, we think it is important for people to have a resource on how to better accept those who belong to the LGBTQ+ community. Many people around you will belong to this community, and EVERYONE regardless of their sexual orientation deserves love and equal treatment. Please use this website as a way to better educate yourself on how to make you LGBTQ+ community feel welcomed and how to become a better ally. Together we can make our world a better place for everyone. 
                    </p>
                </div>

                <div class="header-seperator"></div>

                <div class="header-content-right">
                    <p class="questions-description">
                        With these statistics in mind, we think it is important for people to have a resource on how to better accept those who belong to the LGBTQ+ community. Many people around you will belong to this community, and EVERYONE regardless of their sexual orientation deserves love and equal treatment. Please use this website as a way to better educate yourself on how to make you LGBTQ+ community feel welcomed and how to become a better ally. Together we can make our world a better place for everyone.
                    </p>

                    <a href="{% url 'questions' %}" class="questions-link">Ask a question</a>
                </div>
            </div>
        </div>
    
        <div class="waves">
            <div class="wave wave-translucent"></div>
            <div class="wave wave-white"></div>
        </div>
    </div>

    <div class="content">
        <h3>
            <a href="#sexual-orientations" class="content-link">Different Sexual Orientations Explained</a> •
            <a href="#genders" class="content-link">Different Genders Explained</a> •
            <a href="#pronouns" class="content-link">Pronouns Explained</a> •
            <a href="#10-steps" class="content-link">10 step guide to being the best ally you can</a>
        </h3>

        <h1 id="sexual-orientations">Different Sexual Orientations Explained</h1>
        <p>
            <b>Heterosexual</b>: A broad term for a  person who is attracted to people of the opposite sex
            <br>
            <b>Homosexual</b>: A broad term for a person who is attracted to people of the same sex 
            <br>
            <b>Lesbian</b>: A woman who feels sexually attracted to other women
            <br>
            <b>Gay</b>: A person who feels sexually attracted to people of the same sex (also called homosexual)
            <br>
            <b>Bisexual</b>: Abbreviated as “Bi”, it is a person who is sexually attracted to both men and women.
            <br>
            <b>Queer</b>: Used as an umbrella term, it usually just refers to someone who is homosexual, but it is important to know that its meaning is different depending on who you ask.
            <br>
            <b>Asexual</b>: Someone who doesn’t feel a sexual attraction to anyone.
            <br>
            <b>Pansexual</b>: A person who can be sexually attracted to people regardless of their sex or gender.
            <br>
            <b>Fluid</b>: A person whos sexual identity and attraction varies.
        </p>

        <div class="content-separator"></div>

        <h1 id="genders">Different Genders Explained</h1>
        <p>
            Gender is a SOCIAL CONSTRUCT, it is often different from a persons sex.
            <br>
            Gender focuses on social differences rather than biological ones.
            <br>
            <b>Cisgender</b>: A person who identifies with the same sex they were assigned at birth (their gender and sex are the same)
            <br>
            <b>Genderfluid</b>: A person whose gender identity shifts, often outside of societal expectations.
            <br>
            <b>Nonbinary</b>: Someone who does not identify as a male or female. They could feel a combonation of both or could feel genderless.
            <br>
            <b>Transgender/transexual</b>: A person who identifies as the opposite sex that they were assigned at birth.
            <br>
            <b>Intersex</b>: A person who is born with sexual anatomy and reproductive systems that do not align with the steryotypical “male” or “female” categories. (Being intersex is not necessarily related to what geneder someone identifies as.)
        </p>

        <div class="content-separator"></div>

        <h1 id="pronouns">Pronouns Explained</h1>
        <p>
            One of the most useful ways in making the LGBTQ+ community feel welcome is something as simple as using the pronouns that they identify with. In the English language we typically define she/her as a femine and he/him as masculine, but these pronouns are thought of as binary, fitting either male or female. If it is not clear what gender someone identifies with, it is polite to ask for their pronouns. This way, when referring to them, you can make them feel welcome. Even if you think you know, it never hurts to ask as we want to avoid mislabeling someone. A persons’ pronouns are a big part of representing who they are, so respecting them and using them appropriately is critical.
        </p>

        <h3>A breakdown of the different pronouns and how to use them</h3>
        <p>
            <b>She/her</b><br>
            → She went to the park<br>
            → I went with her<br>
            → The blue ball is hers
        </p>
        <p>
            <b>He/him</b><br>
            → He went to the park><br>
            → I went with him><br>
            → The blue ball is his            
        </p>
        <p>
            <b>They/Them</b><br>
            → They went to the park><br>
            → I went with them><br>
            → The blue ball is theirs  
        </p>
        <p>
            <b>She/They or He/They</b><br>
            → Ask the person which they prefer and use that, often they can be used interchangeably when referring to that person
        </p>
        <h5>Less Common but still used</h5>
        <p>
            <b>Ze/zir</b><br>
            → Ze went to the park><br>
            → I went with zir><br>
            → The blue ball is zirs
        </p>

        <div class="content-separator"></div>

        <h1 id="10-steps">10 step guide to being the best ally you can</h1>
        <h3>
            Don’t Assume
        </h3>
        <p>
            Many people might not identify with the gender or sexual orientation that their appearence indicates. The best way to avoid offending someone and to make them feel comfortable is by asking for their pronouns and being careful not to make comments based on assumptions of their sexuality.
        </p>

        <h3>
            Take a Stand for the Community
        </h3>
        <p>
            When there are issues of LGBTQ+ rights discussed it is important that you show your support. Whether it be as simple as on social media, protesting, etc. Being there for your friends throughout their struggles is so valuable in proving you are truly on their side. In addition, correct people if you hear them using someone’s pronouns incorrectly (even if that person isn’t present) or saying discouraging jokes that could be offensive toward the LGBTQ community,  and while we are at it: avoid making any jokes that could seem targeted (even if they aren’t meant to be degrading they often can be taken this way). Another way you can take a stand is through supporting LGBTQ resources such as the organizations linked on our main page!
        </p>

        <h3>
            Make An Effort!
        </h3>
        <p>
            If you mess up someone's pronouns or say something on accident, apologize and make it clear it wasn’t intentional.  Make an effort to improve on your understanding of the LGBTQ community and your acceptance of those who belong to it. Showing that you are constantly trying to become a better ally is typically the best way to show that you truly are an ally.
        </p>

        <h3>
            Ask Questions!
        </h3>
        <p>
            This is one of the primary reasons we created this website. Asking questions is one of the most valuable ways to educate yourself. It is also important to, if you feel confused on how best to act, ask your friend. Almost everyone in the LGBTQ+ community will inform you that they would rather you ask then just make an assumption. Asking questions proves that you care and are trying to be the best, most knowledgeable friend you can be.
        </p>

        <h3>
            Be Open to Feedback
        </h3>
        <p>
            Let your friends know early on that you support them and want to be the best you can be. Ask for advice on how to better approach situations and make others feel included. When corrected or told you should change a certain thing, DO IT. Being receptive and making the changes asked of you shows that you truly want to be welcoming to them. Don’t take offense to feedback, use it as a chance to better your behavior as an Ally.
        </p>

        <h3>
            Be willing to listen and have a conversation
        </h3>
        <p>
            Once you have established that you are on their side, your friend might confide in you about different issues they face. It is so important to listen to them and validate their feelings, but avoid saying things like “I know what you are going through”. Be there as a friend and help to comfort them with what they are dealing with. Sometimes that is the best type of ally you can be: the one who won’t judge and will listen with open arms!
        </p>

        <h3>
            Recognize your own Biases and FIX THEM
        </h3>
        <p>
            It is normal to have your own opinions and biases. Our society has been pegged to make us think a certain way. However, admitting your own biases (some might even be implicit) and dedicating yourself to fixing them is crucial in becoming a better ally. No one is perfect and recognizing this then committing yourself to changing one behavior at a time can make you a better person and better Ally for the LGBTQ+ community.
        </p>

        <h3>
            Understand the adversity they face AND help them overcome it
        </h3>
        <p>
            Overtimes LGBTQ+ individuals are discriminated against in the legal system, in healthcare, in education, in the workplace, etc. Helping to stand up against this adversity through using your voice or only supporting places that promote equality are ways to show your true allyship. In addition, helping your LGBTQ+ community if they need it by donating to organizations that help them (like those listed above), giving financial support, etc. are more direct ways to help.
        </p>

        <h3>
            Don’t Be Invasive
        </h3>
        <p>
            If an individual is comfortable sharing something personal with you they will. There is no excuse for asking intrusive questions. Specifically to transgender individuals this could be little things like “what name were you born with” or bigger things like questions about their body and how they are able to do certain things. Oftentimes these topics are personal especially to someone still finding their identity. Be careful to not pry at all, just be ready to listen if the individual feels like sharing!
        </p>

        <h3>
            Keep things confidential
        </h3>
        <p>
            Sometimes your friends might come out to you or provide you with information that they haven’t told anyone else. It is important that you ask them about what other people know in order to avoid accidentally outing them. It never hurts to ask in order to confirm that other people know their sexual orientation also. This ensures that you use the proper pronouns around people who might not know. Who they tell is their choice so it is very important to earn their trust by not telling anyone they haven’t.
        </p>

        <div class="content-separator"></div>

        <h1>LGBTQ Resources</h1>

        {% for resource in resources %}
            <div class="resource">
                <div class="resource-left">
                    <h3 class="resource-name"><a href="{{ resource.link }}">{{ resource.name }}</a></h3>
                    <p>
                        {{ resource.description }}
                    </p>
                </div>

                <div class="resource-separator"></div>

                <a href="{{ resource.link }}" class="resource-link">Visit</a>
            </div>
        {% endfor %}
    </div>

</body>
</html>