{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/index.css' %}">
</head>

<body>
    <div class="header">
        <div class="background">
            <div class="header-content">
                <div class="header-content-left">
                    <h1 class="header-title">L<span class="header-gw">GW</span>BTQ+</h1>
    
                    <p class="header-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc interdum turpis quis luctus euismod. Donec ut fringilla lorem. Praesent sollicitudin sollicitudin neque vel aliquam. Praesent molestie sed turpis eget laoreet. Nulla et luctus orci. In hac habitasse platea dictumst. Morbi sollicitudin lobortis augue. Nam at arcu lorem. Sed iaculis mi id sem semper, quis dapibus dolor bibendum. Phasellus a velit vitae justo scelerisque luctus. Vestibulum consectetur tempor urna, semper blandit enim sagittis vitae. Donec aliquam erat ut efficitur efficitur. Praesent tincidunt volutpat libero a scelerisque.
                    </p>
        
                    <p class="header-text">
                        Nullam neque sapien, maximus sed nunc ac, faucibus mollis purus. Integer at sollicitudin nibh. Nullam in dolor porta, porta leo ut, euismod nunc. Morbi lacinia massa id nunc sodales, non volutpat turpis convallis. Phasellus fermentum eu nisl ac pulvinar. Ut vulputate mauris fermentum commodo finibus. Fusce rutrum arcu turpis, et rhoncus quam placerat a. Sed ultricies nisl sed dolor euismod aliquam. Pellentesque non consectetur nisl. Quisque id gravida mi. Vestibulum elementum a ipsum vitae pellentesque. Donec feugiat sem elit. Suspendisse nec tellus molestie, imperdiet nisi eu, porta felis.
                    </p>
                </div>

                <div class="header-seperator"></div>

                <div class="header-content-right">
                    <p class="header-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc interdum turpis quis luctus euismod. Donec ut fringilla lorem. Praesent sollicitudin sollicitudin neque vel aliquam. Praesent molestie sed turpis eget laoreet. Nulla et luctus orci. In hac habitasse platea dictumst. Morbi sollicitudin lobortis augue. Nam at arcu lorem. Sed iaculis mi id sem semper, quis dapibus dolor bibendum. Phasellus a velit vitae justo scelerisque luctus. Vestibulum consectetur tempor urna, semper blandit enim sagittis vitae. Donec aliquam erat ut efficitur efficitur. Praesent tincidunt volutpat libero a scelerisque.
                    </p>

                    <a href="{% url 'questions' %}" class="questions-link">Ask a question</a>
                </div>
            </div>
        </div>
    
        <div class="waves">
            <div class="wave wave-translucent"></div>
            <div class="wave wave-white"></div>
        </div>
    </div>

    <div class="content">
        <h1 class="content-title">LGBTQ Resources</h1>

        {% for resource in resources %}
            <div class="resource">
                <div class="resource-left">
                    <h3 class="resource-name"><a href="{{ resource.link }}">{{ resource.name }}</a></h3>
                    <p>
                        {{ resource.description }}
                    </p>
                </div>

                <div class="resource-separator"></div>

                <a href="{{ resource.link }}" class="resource-link">Visit</a>
            </div>
        {% endfor %}
    </div>

</body>
</html>